#myimg {
        object-fit: cover;
        z-index: 1;
        position: absolute;
        width: 500px;
    }

@media screen and (min-width: 400px) and (max-width: 1024px)
{
#myimg2 {
    object-fit: cover;
    z-index: 10;
    width: 200px;
    position: relative;
    margin-top: 95px;
}
/*#myt {
    padding-top: 100px !important;
}*/
}

@media screen and (min-width: 330px) and (max-width: 400px)
{
#myimg2 {
    object-fit: cover;
    z-index: 10;
    width: 200px;
    position: relative;
    margin-top: 70px;
}
}
@media screen and (min-width: 200px) and (max-width: 325px)
{
#myimg2 {
    object-fit: cover;
    z-index: 10;
    width: 160px;
    position: relative;
    margin-top: 60px;
}
/*#myt {
    padding-top: 100px !important;
}*/
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1020px)/* for ipad x) */
{  #myimg2 {
        object-fit: cover;
        z-index: 10;
        width: 220px;
        position: relative;
        margin-top: 60px;
    }
    #myimg {
        object-fit: cover;
        z-index: 1;
        position: absolute;
        width: 400px;
    }
    #myt {
    padding-top: 100px !important;
}
}


@media screen and (min-width: 1024px)
{
#myimg2 {
    object-fit: cover;
    z-index: 10;
    width: 290px;
    position: relative;
    margin-top: 90px;
}
}
