.my-dropdown {
  background-color: #2c2e3e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.my-dropdown select {
  font-weight: bold;
  cursor: pointer;
}

.card {
  border-radius: 40px;
  width: 310px;
  height: 320px;
}

.card .card-body {
  padding: 20px;
}

.card-body h2 {
  font-weight: bold;
  font-family: "GilroyExtraBold";
  color: #383d59;
}

.card-body h2.name {
  font-size: 20px;
}


.card-body p {
  color: #383d59;
  font-family: "GilroyLight";
}


.card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}


#titre {
  font-family: "GilroyExtraBold";
  font-size: 40px;
}