.map-img {
    opacity: 1;
    background: transparent;
    width: 60%;
    margin-left: -10%;
    margin-right: 0px;
}

#map {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.arrows{
    opacity: 1;
    display: block;
    background: transparent;
    height: 2%;
    width: 2%;
    margin: 15%;
}