.map-img {
    opacity: 1;
    background: transparent;
    width: 60%;
    margin-left: -10%;
    margin-right: 0px;
}

#map {
    width: 70%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    display: block;
    border: double 15px transparent;
  padding: 17px;
  border-radius: 35px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #434764 , #363951 );
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.16);
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.arrows{
    opacity: 1;
    display: block;
    background: transparent;
    height: 2%;
    width: 2%;
    margin: 15%;
}