#aboutus{
 align-items: center;
 justify-content: center;
 align-items: center;
 align-content: center;
 align-self: center;
  /*display: none;*/
}
p{
  line-height: 2;
}

.img1{
     /* float: right;*/
      width:  405px;
      height: 270px;
      border: 13px solid #fff;
      margin-left:15%;
      /*position: absolute;*/
      background-image: url("../img/team1.png");
      background-size: cover;
      animation: fade 25s infinite;
      /*animation: boxmove 5s infinite;*/
  }
  .img2{
    transform: rotate(-5deg);
    margin-top: -30px;
    width:  405px;
    height: 270px;
    border: 13px solid #fff;
    margin-left: -10%;
    /*position: absolute;*/
    background-image: url("../img/team3.png");
    background-size: cover;
    animation: fade2 25s infinite 2.5s;
    /*animation: boxmove2 5s infinite;*/
  }
  #images2{
    display: none;
  }
  #aboutustext2{
    display: none;
 }
  .non-specified{
    width: 100%;

    height: 250px;
    position: relative;
  }
  #non-specified{
    margin-top: 40px;
  }
  #wall{
    margin-left: 2%;
  }
  .circle{
    z-index: 1;
    background-color: #fff  ;
    height: 45px;
    width: 45px;
    border: 10px solid #fff;
    border-radius: 100%;
    position: absolute;
    right: 20px;
    margin-right: 20px;
    animation: ballmove 1s ease-in-out infinite;
    transform: translateX(50%) rotateX(0deg) scale(1);
    z-index: 2;
    
  }
  
  @keyframes fade{
    20%{
      background-image: url("../img/team2.png");
    }
    40%{
      background-image: url("../img/team3.png");
    }
    60%{
      background-image: url("../img/team4.png");
    }
    80%{
      background-image: url("../img/team5.png");
    }
    100%{
      background-image: url("../img/team1.png");
    }
  }
  @keyframes fade2{
    20%{
      background-image: url("../img/team4.png");
    }
    40%{
      background-image: url("../img/team5.png");
    }
    60%{
      background-image: url("../img/team1.png");
    }
    80%{
      background-image: url("../img/team2.png");
    }
    100%{
      background-image: url("../img/team3.png");
    }
  }
  /* @keyframes boxmove{
    0%{
    transform: rotate(0deg);
    margin-top: 0px;
    margin-left: 150px;
    }
    50%{
      transform: rotate(-5deg);
      margin-top: 150px;
      margin-left: 0px;
    }
    100%{
      transform: rotate(0deg);
      margin-top: 0px;
      margin-left: 150px;
    }
  }
  @keyframes boxmove2{
    0%{
    transform: rotate(-5deg);
    margin-top: 150px;
    margin-left: 0px;
    }
    50%{
      transform: rotate(0deg);
      margin-top: 0px;
      margin-left: 150px;
    }
    100%{
      transform: rotate(-5deg);
      margin-top: 150px;
      margin-left: 0px;
    }
  } */
  @keyframes ballmove{
    0%{
      margin-top: -220px;
    }
    50%{
      margin-top: -40px;
      transform: translateX(50%) rotateX(40deg) scale(1.08);
    }
    100%{
      margin-top : -220px;
    }
  }
  @media only screen and (max-width: 990px) {
    #aboutustext{
      display: none;
   }
   #aboutustext2{
    display: block;
    width: 90%;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
 }
 .img2{
    display: none; 

  }
  .img1{
    
      height: 240px;
      border: 6px solid #fff;
      margin: auto;
      align-content: center;
      width: 72%; 

  }
  #wall{
    margin: auto;
  }
  .circle{
    display: none;
    
  }
  @media only screen and (max-width: 450px) {
    #aboutustext{
      display: none;
   }
   #aboutustext2{
    display: block;
    width: 90%;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
 }
 .img2{
    display: none; 

  }
  .img1{
    
      height: 180px;
      border: 6px solid #fff;
      margin: auto;
      align-content: center;
      width: 75%; 

  }
  #wall{
    margin: auto;
  }
  .circle{
    display: none;
    
  }
 
  }
