/***********************About us ****************/
.img1{
    margin-left: 150px;
      width:  449px;
      height: 298px;
      border: 13px solid #fff;
      position: absolute;
      background-image: url("../img/team1.jpg");
      background-size: cover;
      animation: fade 15s infinite;
      /*animation: boxmove 5s infinite;*/
  }
  .img2{
    transform: rotate(-5deg);
    margin-top: 150px;
    width:  449px;
    height: 298px;
    border: 13px solid #fff;
    position: absolute;
    background-image: url("../img/team2.jpg");
    background-size: cover;
    animation: fade2 15s infinite;
    /*animation: boxmove2 5s infinite;*/
  }
  .idk{
    width: 810px;
    height: 230px;
    position: relative;
  }
  #idk{
    margin-top: 130px;
  }
  
  @keyframes fade{
    33%{
      background-image: url("../img/team2.jpg");
    }
    66%{
      background-image: url("../img/team3.jpg");
    }
    100%{
      background-image: url("../img/team1.jpg");
    }
  }
  @keyframes fade2{
    33%{
      background-image: url("../img/team3.jpg");
    }
    66%{
      background-image: url("../img/team1.jpg");
    }
    100%{
      background-image: url("../img/team2.jpg");
    }
  }
  /* @keyframes boxmove{
    0%{
    transform: rotate(0deg);
    margin-top: 0px;
    margin-left: 150px;
    }
    50%{
      transform: rotate(-5deg);
      margin-top: 150px;
      margin-left: 0px;
    }
    100%{
      transform: rotate(0deg);
      margin-top: 0px;
      margin-left: 150px;
    }
  }
  @keyframes boxmove2{
    0%{
    transform: rotate(-5deg);
    margin-top: 150px;
    margin-left: 0px;
    }
    50%{
      transform: rotate(0deg);
      margin-top: 0px;
      margin-left: 150px;
    }
    100%{
      transform: rotate(-5deg);
      margin-top: 150px;
      margin-left: 0px;
    }
  } */
  /**************************************************/