#aboutus{
 align-items: center;
}
#images{
  /*flex-direction: column;*/
  flex-direction: row;
    align-items: center;
   /* align-content: center;
    align-self: center;*/
}
.img1{
     /* float: right;*/
      width:  449px;
      height: 298px;
      border: 13px solid #fff;
      /*position: absolute;*/
      background-image: url("../img/team1.jpg");
      background-size: cover;
      animation: fade 25s infinite;
      /*animation: boxmove 5s infinite;*/
  }
  .img2{
    z-index: 1;
    transform: rotate(-5deg);
    margin-top: -30px;
    width:  449px;
    height: 298px;
    border: 13px solid #fff;
    /*position: absolute;*/
    background-image: url("../img/team3.jpg");
    background-size: cover;
    animation: fade2 25s infinite 2.5s;
    /*animation: boxmove2 5s infinite;*/
  }
  .non-specified{
    width: 900px;
    height: 250px;
    position: relative;
  }
  #non-specified{
    margin-top: 40px;
  }
  .circle{
    z-index: 1;
    background-color: #fff  ;
    height: 45px;
    width: 45px;
    border: 10px solid #fff;
    border-radius: 100%;
    position: absolute;
    right: 0;
    animation: ballmove 1s infinite;
    
  }
  
  @keyframes fade{
    20%{
      background-image: url("../img/team2.jpg");
    }
    40%{
      background-image: url("../img/team3.jpg");
    }
    60%{
      background-image: url("../img/team4.jpg");
    }
    80%{
      background-image: url("../img/team5.jpg");
    }
    100%{
      background-image: url("../img/team1.jpg");
    }
  }
  @keyframes fade2{
    20%{
      background-image: url("../img/team4.jpg");
    }
    40%{
      background-image: url("../img/team5.jpg");
    }
    60%{
      background-image: url("../img/team1.jpg");
    }
    80%{
      background-image: url("../img/team2.jpg");
    }
    100%{
      background-image: url("../img/team3.jpg");
    }
  }
  /* @keyframes boxmove{
    0%{
    transform: rotate(0deg);
    margin-top: 0px;
    margin-left: 150px;
    }
    50%{
      transform: rotate(-5deg);
      margin-top: 150px;
      margin-left: 0px;
    }
    100%{
      transform: rotate(0deg);
      margin-top: 0px;
      margin-left: 150px;
    }
  }
  @keyframes boxmove2{
    0%{
    transform: rotate(-5deg);
    margin-top: 150px;
    margin-left: 0px;
    }
    50%{
      transform: rotate(0deg);
      margin-top: 0px;
      margin-left: 150px;
    }
    100%{
      transform: rotate(-5deg);
      margin-top: 150px;
      margin-left: 0px;
    }
  } */
  @keyframes ballmove{
    0%{
      margin-top: -200px;
    }
    50%{
      margin-top: -45px;
    }
    100%{
      margin-top : -200px;
    }
  }
