@import url("./button.css");

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}

body {
  background-color: #383d59;
  overflow-x: hidden;
}

* {
  color: #fff;
  letter-spacing: 0px;
}

.title {
  font-family: "GilroyExtraBold";
  font-size: 4rem;
}


/***********************About us ****************/
.img1{
  margin-left: 150px;
    width:  449px;
    height: 298px;
    border: 13px solid #fff;
    position: absolute;
    background-image: url("../img/team1.jpg");
    background-size: cover;
    animation: fade 15s infinite;
}
.img2{
  transform: rotate(-5deg);
  margin-top: 150px;
  width:  449px;
  height: 298px;
  border: 13px solid #fff;
  position: absolute;
  background-image: url("../img/team2.jpg");
  background-size: cover;
  animation: fade2 15s infinite;
}
 #img1{
    margin-left: 150px;
} 
#img2{
  margin-top: 150px;
  transform: rotate(-5deg);
} 
.idk{
  width: 810px;
  height: 230px;
  position: relative;
}
#idk{
  margin-top: 130px;
}

@keyframes fade{
  33%{
    background-image: url("../img/team2.jpg");
  }
  66%{
    background-image: url("../img/team3.jpg");
  }
  100%{
    background-image: url("../img/team1.jpg");
  }
}
@keyframes fade2{
  33%{
    background-image: url("../img/team3.jpg");
  }
  66%{
    background-image: url("../img/team1.jpg");
  }
  100%{
    background-image: url("../img/team2.jpg");
  }
}
/**************************************************/
p {
  font-family: "GilroyLight";
  font-size: 1.25rem;
}

.nav-item {
  font-family: "GilroyExtraBold";
  font-size: 1rem;
}

.primary {
  color: #383d59;
}
