
.bigwall{
  align-items: center;
  align-content: center;
  justify-content: center;
}
.ourvisiontext{
  
  justify-content: center;
}
#ourpara{
  text-align: center;
}
.thing{
  width: 110%;
  height: 110%;
}
.buttonour{
  margin-top: 60px;
  width: 70%;
}
.ourphotos1{
  border-radius: 50px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 62px;
  margin-top: 57px;
}
.ourphotos2{
  border-radius: 50px;
  width: 90px;
  height: 90px;
  position: absolute;
  right: 27px;
  margin-top: 57px;
}
