.avatar {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
  }
.avatars{
  margin-bottom: 20px;
  margin-top: 8px;
  margin-left: -20px;
}
#small-button{
  margin-left: -18px;
  height: 50px;
  width: 150px;
}
.media-date{
  margin-bottom: 18px;
}
#media-coverage-text{
  margin-top: 100px;
}
#cadre{
  margin-left: -150px;
  max-width: 150%;
    height: auto;
}
section{
  margin-top: -100px;
}
.vid{
  width: 34%;
 height: 34%;
 border-radius: 50%;
 -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
 -webkit-transform: rotate(0.000001deg); 
 -webkit-border-radius: 100%; 
 -moz-border-radius: 100%;
 position: absolute;
  margin-top: 33.6%;
  margin-left: 28.6%;

}
.video{
  margin-left: -20%;
  object-fit: cover;
}
.part2{
  display: none;
}

@media only screen and (max-width: 1199px) {

  .vid{
    width: 34%;
   height: 34%;
   border-radius: 50%;
   -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
   -webkit-transform: rotate(0.000001deg); 
   -webkit-border-radius: 100%; 
   -moz-border-radius: 100%;
   position: absolute;
    margin-top: 33.6%;
    margin-left: 22.9%;
  
  }
  .video{
    margin-left: -30%;
    margin-top: -9%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 991px) {

  .vid{
    width: 34%;
   height: 34%;
   border-radius: 50%;
   -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
   -webkit-transform: rotate(0.000001deg); 
   -webkit-border-radius: 100%; 
   -moz-border-radius: 100%;
   position: absolute;
    margin-top: 32.6%;
    margin-left: 10.9%;
  
  }
  .video{
    margin-left: -50%;
    margin-top: -30%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 767px) {
  .part2{
    display: block;
  }
  .part1{
    display: none;
  }
  .vid{
    width: 34%;
   height: 34%;
   border-radius: 50%;
   -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
   -webkit-transform: rotate(0.000001deg); 
   -webkit-border-radius: 100%; 
   -moz-border-radius: 100%;
   position: absolute;
    margin-top: 32.8%;
    margin-left: 30.9%;
  
  }
  .r2{
    justify-content: center!important;
  }
  .video{
    margin-left: -30%;
    margin-top: -15%;
    object-fit: cover;
  }
  #cadre{
    margin-left: -25%;
    max-width: 150%;
      height: auto;
  }
  .text-center-respo {
    text-align: center!important;
  }
  .avatars{
    margin-bottom: 20px;
    margin-top: 8px;
    margin-left: -20px;
    align-content: center;
    align-self: center;
  }
}

